# Execute Sparql Queries and Download Data for Feature Extraction

In [1]:
sparql_endpoint="http://graphdb.dumontierlab.com/repositories/bio2rdf_remzi"
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-drug-target.sparql {sparql_endpoint} > data/input/drugbank-drug-target.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 48837    0 47511  100  1326   109k   3127 --:--:-- --:--:-- --:--:--  112k

In [2]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-target-seq.sparql {sparql_endpoint} > data/input/drugbank-target-seq.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1216k    0 1215k  100   876  20612     14  0:01:02  0:01:00  0:00:02 13363

In [3]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-drug-smiles.sparql {sparql_endpoint} > data/input/drugbank-drug-smiles.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  451k    0  450k  100   767  2240k   3815 --:--:-- --:--:-- --:--:-- 2244k

In [4]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-drug-goa.sparql {sparql_endpoint} > data/input/drugbank-drug-goa.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1243k    0 1242k  100  1464   284k    335  0:00:04  0:00:04 --:--:--  278k

In [5]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-sider-sideeffects.sparql {sparql_endpoint} > data/input/drugbank-sider-se.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1269k    0 1268k  100  1136   199k    179  0:00:06  0:00:06 --:--:-- 24121

In [6]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/openpredict-omim-drug.sparql {sparql_endpoint} > data/input/openpredict-omim-drug.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 39338    0 38676  100   662  1079k  18914 --:--:-- --:--:-- --:--:-- 1097k

In [7]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/omim-disease-hpo.sparql {sparql_endpoint} > data/input/omim-disease-hpo.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1749k    0 1748k  100   726  2099k    871 --:--:-- --:--:-- --:--:-- 2097k

In [8]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/omim-disease-mesh.sparql {sparql_endpoint} > data/input/omim-disease-mesh.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  489k    0  488k  100   672   493k    678 --:--:-- --:--:-- --:--:--  493k

In [19]:
!curl -H "Accept: text/tab-separated-values" --data-urlencode query@data/sparql/drugbank-drug-synonym.sparql {sparql_endpoint} > data/input/drugbank-drug-synonym.tab

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  888k    0  887k  100   560  35691     21  0:00:26  0:00:25  0:00:01  120k

# Create Feature Matrix

In [9]:
import pandas as pd
drug_target = pd.read_csv('data/input/drugbank-drug-target.tab',sep='\t')
target_seq = pd.read_csv('data/input/drugbank-target-seq.tab',sep='\t')
drug_goa = pd.read_csv('data/input/drugbank-drug-goa.tab',sep='\t')
drug_smiles = pd.read_csv('data/input/drugbank-drug-smiles.tab',sep='\t')
drug_se = pd.read_csv('data/input/drugbank-sider-se.tab',sep='\t')
drug_smiles.head()

   ?drugid                                            ?smiles
0  DB00014  CC(C)C[C@H](NC(=O)[C@@H](COC(C)(C)C)NC(=O)[C@H...
1  DB00035  NC(=O)CC[C@@H]1NC(=O)[C@H](CC2=CC=CC=C2)NC(=O)...
2  DB00050  CC(C)C[C@H](NC(=O)[C@@H](CCCNC(N)=O)NC(=O)[C@H...
3  DB00091  CCC1NC(=O)C(C(O)C(C)CC=CC)N(C)C(=O)C(C(C)C)N(C...
4  DB00093  NCCCC[C@H](NC(=O)[C@@H]1CCCN1C(=O)[C@@H]1CSSC[...

In [10]:
target_seq.head()

   ?geneid                                               ?seq
0     2147  >Prothrombin precursor\nMAHVRGLQLPGCLALAALCSLV...
1     1956  >Epidermal growth factor receptor precursor\nM...
2     2215  >Low affinity immunoglobulin gamma Fc region r...
3      715  >Complement C1r subcomponent\nMWLLYLLVPALFCRAG...
4      712  >Complement C1q subcomponent subunit A\nMEGPRG...

In [11]:
drug_se.head()

   ?drugid   ?umlsid
0  DB00583  C0000729
1  DB00583  C0000737
2  DB00583  C0002418
3  DB00583  C0002871
4  DB00583  C0003123

In [12]:
drug_goa.head()

   ?drugid          ?g
0  DB00337  go:0006468
1  DB00337  go:0016310
2  DB00337  go:0007165
3  DB00337  go:0007050
4  DB00337  go:0008543

In [13]:
drug_goa.rename(columns={'?drugid':'drugid'}, inplace=True)
drug_target.rename(columns={'?drugid':'drugid'}, inplace=True)
drug_smiles.rename(columns={'?drugid':'drugid'}, inplace=True)
drug_goa.rename(columns={'?drugid':'drugid'}, inplace=True)
drug_se.rename(columns={'?drugid':'drugid'}, inplace=True)

In [14]:
a=drug_goa['drugid'].unique()
b=drug_target['drugid'].unique()
c=drug_smiles['drugid'].unique()
d=drug_smiles['drugid'].unique()
commonDrugs= set(a).intersection(b).intersection(c).intersection(d)
print (len(a),len(b),len(c),len(d))
print (len(commonDrugs))

579 579 7107 7107
570

In [15]:
a=drug_goa['drugid'].unique()
b=drug_target['drugid'].unique()
c=drug_smiles['drugid'].unique()
d=drug_se['drugid'].unique()
commonDrugs= set(a).intersection(b).intersection(c).intersection(d)
print (len(a),len(b),len(c),len(d))
print (len(commonDrugs))

579 579 7107 524
510

In [16]:
gold_ind =pd.read_csv('data/input/openpredict-omim-drug.tab',sep='\t')
gold_ind.head()

   ?drugid      ?omimid
0  DB00337  omim:233810
1  DB00337  omim:603165
2  DB00945  omim:152700
3  DB00945  omim:140600
4  DB00945  omim:147530

In [17]:
gold_ind.rename(columns={'?drugid':'Drug','?omimid':'Disease'}, inplace=True)

In [18]:
print ("%d drugs have all features "%len( commonDrugs.intersection( gold_ind.Drug.unique())))
print ("%d drugs have all GOA feature "%len( set(a).intersection( gold_ind.Drug.unique())))
print ("%d drugs have all Target feature "%len( set(b).intersection( gold_ind.Drug.unique())))
print ("%d drugs have all Fingerprint feature "%len( set(c).intersection( gold_ind.Drug.unique())))
print ("%d drugs have all Sideeffect feature "%len( set(d).intersection( gold_ind.Drug.unique())))

510 drugs have all features
579 drugs have all GOA feature
579 drugs have all Target feature
583 drugs have all Fingerprint feature
524 drugs have all Sideeffect feature